name: playwright diploma with TestOps
#Когда запускаем
on: 
  push:
    branches:
      - main
#Ручной запуск      
  workflow_dispatch: 
  
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  pw5Tests:
    runs-on: ubuntu-latest
    
    env:
      BASE_URL: ${{ vars.BASE_URL }}
      API_URL: ${{ vars.API_URL }}
      
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0

      - name: Установка npm.package.json
        run: npm ci

      - name: Установка браузеров
        run: npx playwright install --with-deps

      - name: Setup Allure TestOps
        uses: allure-framework/setup-allurectl@v1.0.2
        with:
          allure-endpoint: ${{ secrets.ALLURE_ENDPOINT }}
          allure-token: ${{ secrets.ALLURE_TOKEN }}         
          allure-project-id: ${{ secrets.ALLURE_PROJECT_ID }}
      - name: Запуск тестов
        run: npm t  
        continue-on-error: true
        if: always()
           

      - name: Upload results to TestOps
        env:
          ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
          ALLURE_ENDPOINT: ${{ secrets.ALLURE_ENDPOINT }}
          ALLURE_PROJECT_ID: ${{ secrets.ALLURE_PROJECT_ID }}
          ALLURE_LAUNCH_NAME: "Playwright Diploma #${{ github.run_number }}"        
        run: allurectl upload ./allure-results
        continue-on-error: true
        if: always()
                 
        
      - name: Сгенерировать Allure отчет в файл
        run: npm run allurefile
        continue-on-error: true
        if: always()

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload Allure Report Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'allure-report'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4     

      - name: Сформировать конфиг для отправки в телеграм
        run: |
          mkdir -p notifications
          cat <<EOF > notifications/config.json
          {
            "base": {
              "logo": "",
              "project": "diplom",
              "environment": "some env",
              "comment": "",
              "reportLink": "${{ steps.deployment.outputs.page_url }}/index.html",
              "language": "ru",
              "allureFolder": "allure-report",
              "enableChart": true,
              "enableSuitesPublishing": false,
              "customData": {}
            },
            "telegram": {
              "token": "${{ secrets.TELEGRAM_TOKEN }}",
              "chat": "${{ secrets.TELEGRAM_CHAT }}",
              "replyTo": ""
            }
          }
          EOF

      - name: Подготовить уведомление в телеграм
        run: npm run reportallure

      - name: Подготовить уведомление в телеграм
        run: |
          java -DconfigFile=notifications/config.json -jar notifications/allure-notifications-4.11.0.jar
      
        
          
      

  
