name: playwright diploma with TestOps
#Когда запускаем
on: 
  #push:
    #branches:
      #- main
#Руной запуск      
  workflow_dispatch: 

jobs:
  pw5Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0

      - name: Установка npm.package.json
        run: npm ci

      - name: Установка браузеров
        run: npx playwright install --with-deps

      - name: Setup Allure TestOps
        uses: allure-framework/setup-allurectl@v1.0.2
        with:
          allure-endpoint: ${{ secrets.ALLURE_ENDPOINT }}
          allure-token: ${{ secrets.ALLURE_TOKEN }}         
          allure-project-id: ${{ secrets.ALLURE_PROJECT_ID }}

      - name: Запуск тестов
        run: npm t
        continue-on-error: true

      - name: Debug allure-results
        run: |
          ls -la
          ls -la allure-results || echo "allure-results NOT FOUND"

      - name: Upload results to TestOps
        env:
          ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
          ALLURE_ENDPOINT: ${{ secrets.ALLURE_ENDPOINT }}
          ALLURE_PROJECT_ID: ${{ secrets.ALLURE_PROJECT_ID }}
        run: |
          allurectl upload allure-results \
      --name "Playwright Diploma #${GITHUB_RUN_NUMBER}" \
      --tags "github,workflow" \
      --build "${GITHUB_SHA}"

        
        
      - name: Сгенерировать Allure отчет в файл
        run: npm run allurefile
        continue-on-error: true
        if: always()
        
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        continue-on-error: true
        if: always()
        with:
          name: allure single file
          path: allure-report/index.html

  
